header {
  // background: $indigo;
  padding: 0 30px;
}

.gnav {
  height: 60px;
  display: flex;
  &__logo {
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  &__list {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    justify-content: flex-end;
    li {
      height: 100%;
    }
  }
  &__link {
    padding: 4px 30px 0 30px;
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    &:hover {
      border-bottom: 4px solid #333;
    }
  }
}
