@import './base/reset';
@import './base/variables';
@import './header';

.container {
  display: flex;
}

.content {
  height: 60px;
  // background: $red;
  flex-grow: 1;
}

.sidebar {
  height: 60px;
  width: 100%;
  max-width: 300px;
  // background: $green;
}

.footer {
  height: 60px;
  // background: $blue;
}
