@import './base/reset';
@import './base/variables';
@import './header';

.container {
  display: flex;
}

.content {
  height: 60px;
  background: rgba($red, 0.2);
  flex-grow: 1;
}

.sidebar {
  height: 60px;
  width: 100%;
  max-width: 300px;
  background: rgba($green, 0.2);
}

.footer {
  height: 60px;
  background: rgba(0, 0, 0, 0.2);
}
